{% extends "base.html" %}
{% load static %}

{% block content %}

  <title>Login</title>


<body>
 
  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <h2 class="font-weight-bold">
        Login
      </h2>
      <div class="row">
        <div class="col-md-8 mr-auto">
          <form action="">
            <div class="contact_form-container">
              <div>
                <div>
                  <input type="text" placeholder="Username">
                </div>
                <div>
                  <input type="password" placeholder="password">
                </div>

                <div class="mt-5">
                  <button type="submit">
                    Submit
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  
  <section class="fruit_section layout_padding-top">
    <div class="container">
      <h2 class="custom_heading">Fresh Fruits</h2>
      <p class="custom_heading-text">
        There are many variations of passages of Lorem Ipsum available, but
        the majority have
      </p>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
              Best Fresh Orange
            </h3>
            <p class="mt-4 mb-5">
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be
            </p>
            <div>
              <a href="" class="custom_dark-btn">
                Buy Now
              </a>
            </div>
          </div>
        </div>
      </section>

  <!-- end contact section -->




</body> 
</html>

{% endblock %}
